.details {
  min-height: 900px;
  margin-left: 40px;
  margin-right: 40px;
}

.side-bar {
  display: none;
}

.details .row {
  margin-top: 30px;
}

.heading span {
  color: #e4350a;
  cursor: pointer;
}

.heading span:hover {
  text-decoration: underline;
}

.iconify {
  width: 24px;
  height: 24px;
}

.btn-save {
  background-color: #b2c9ab !important;
  border: 1px solid #b2c9ab !important;
} 

.buttons {
  display: none;
  text-shadow: 1px 1px 2px #999;
}

.btn-save:hover, .btn-save:focus {
  background-color: #99ad93 !important;
}

.title {
  text-shadow: 1px 1px 2px rgb(207, 207, 207);
}

.text-list {
  color: #999 !important;
}

@media(min-width: 992px) {
  .details .row {
    margin-top: 120px;
  }

  .side-bar {
    display: flex;
  }
}