.details {
  min-height: 1080px;
  margin-left: 20px;
  margin-right: 20px;
}

.details .row {
  margin-top: 100px;
}

.title {
  text-shadow: 2px 2px #999;
}

.iconify {
  width: 24px;
  height: 24px;
}