/* Products */

.products h1 {
  color: black;
  text-align: center;
  font-weight: 200;
  font-size: 30px;
  margin-top: 20px;
}

/* Breadcrumb */
.breadcrumb {
  background-color: transparent;
  justify-content: center;
  margin-top: 20px;
}

/* Shop */
.shop .row {
  text-align: center;
  margin-left: -5px;
  margin-right: -5px;
}
.shop img {
  max-width: 150px;
}

.new-catalog h5 {
  text-align: left;
  margin-top: 20px;
  font-size: 12px;
  color: rgb(68, 68, 68);
}

.new-catalog p {
  font-weight: 200;
  text-align: left;
  font-size: 14px;
  margin-top: -5px;
}

.load-more {
  width: 200px;
  height: 60px;
  border: 2px solid #ccc;
  padding: 15px;
  font-weight: 100;
  margin: 35px auto;
  text-align: center;
}

.load-more:hover {
  cursor: pointer;
  animation: loadmore 1s forwards;
}

.fadeIn {
  animation: fadeIn 800ms;
}

@keyframes loadmore {
  to {
    background-color: rgb(177, 175, 175);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}

@media (min-width: 320px) {
  .new-catalog h5 {
    text-align: center;
  }

  .new-catalog p {
    text-align: center;
  }
}

@media (min-width: 768px) {
  /* Products */
  .products .row {
    margin-top: 120px;
  }

  .products h1 {
    font-size: 36px;
  }

  /* Shop */
  .shop .row {
    margin: 40px 180px;
  }

  .shop h5,
  .shop p {
    margin-left: auto;
  }

  .shop img {
    max-width: 225px;
  }

  .new-catalog h5 {
    text-align: left;
  }

  .new-catalog p {
    text-align: left;
  }
}
